<template>
  <div class="home page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-tie</v-icon>
      إدارة المشرفين
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />

    <!-- CREATE / UPDATE FROM -->
    <record-form />

    <!-- UPDATE / NEW RECORD -->
    <div class="mb-3 mt-9 text-left">
      <v-btn
        large
        outlined
        color="accent"
        class="mx-2"
        @click="SET_FORM_RECORD($auth.user()); SET_EDIT_MODE(true); SHOW_FORM()"
      >
        تعديل بياناتي
      </v-btn>
      <v-btn
        large
        color="primary"
        elevation="0"
        @click="SET_FORM_RECORD({}); SET_EDIT_MODE(false); SHOW_FORM()"
      >
        إضافة مشرف
        <v-icon class="mr-2">mdi-plus</v-icon>
      </v-btn>
    </div>

    <!-- TABLE -->
    <v-data-table
      item-key="id"
      class="elevation-1"
      :loading="table.loading"
      :headers="table.headers"
      :items="tableRecords"
      loading-text="جاري تحميل البيانات"
      no-data-text="لا يوجد بيانات"
      disable-filtering
      disable-pagination
      disable-sort
      hide-default-footer
    >
      <!-- CONTROLS -->
      <template v-slot:item.controls="{ item }">
        <v-btn small icon color="error" class="mx-1" @click="remove(item)" v-if="item.id != 1">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <!-- PAGINATION -->
    <div class="text-center mt-7">
      <v-pagination @input="fetchRecords($event)" :value="paginationPage" :length="paginationLength" circle></v-pagination>
    </div>
  </div>
</template>


<script>
import RecordForm from './RecordForm';
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'admins',
  components: { RecordForm },

  data: function () {
    return {
      // table
      table: {
        headers: [
          {
            value: 'id',
            text: 'رقم المشرف'
          },
          {
            value: 'name',
            text: 'الاسم'
          },
          {
            value: 'email',
            text: 'الايميل'
          },
          {
            value: 'controls',
            text: 'اعدادات'
          }
        ],
        loading: false
      }
    }
  },


  created() {
    this.fetchRecords(1);
  },


  computed: {
    ...mapState(
      'admins',
      {
        tableRecords: state => state.records,
        paginationPage: state => state.page,
        paginationLength: state => state.totalPages
      }
    )
  },


  methods: {
    ...mapMutations(
      'admins',
      [
        'SHOW_FORM',
        'SET_EDIT_MODE',
        'SET_FORM_RECORD'
      ]
    ),

    fetchRecords(page = null) {
      this.table.loading = true;

      this.$store.dispatch('admins/fetchRecords', { page })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء جلب البيانات',
            color: 'accent'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },

    async remove(selectedRecord) {
      const confirmMessageParams = [
        `حذف المشرف رقم ${selectedRecord.id}!`,
        `هل أنت متأكد من حذف المشرف '${selectedRecord.name}'؟`,
        { color: 'error' }
      ];
      if (!await this.$root.$confirm(...confirmMessageParams)) return;

      this.$store.dispatch('admins/delete', { recordId: selectedRecord.id })
        .then(() => {
          this.$bus.$emit('showSnackbar', {
            text: 'تم حذف المشرف بنجاح',
            color: 'success'
          });
        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء حذف المشرف',
            color: 'accent'
          });
        });
    }
  }
}
</script>
