<template>
  <v-dialog :value="showForm" @input="v => v || HIDE_FORM()" max-width="600px" scrollable>
    <v-card>
      <!-- TITLE -->
      <v-card-title class="primary">
        <span class="headline">{{ editMode ? 'تعديل المشرف' : 'اضافة مشرف'}}</span>
      </v-card-title>

      <!-- INPUTS -->
      <v-card-text class="pt-5 pb-0">
        <v-container>
          <v-progress-linear
            v-if="formLoading"
            color="primary"
            indeterminate
            rounded
            height="6"
          ></v-progress-linear>
          <div v-else>
            <v-text-field
              dense
              outlined
              label="الاسم عربي"
              v-model="form.name"
              :error-messages="errors.name"
            ></v-text-field>
            <v-text-field
              dense
              outlined
              dir="ltr"
              label="البريد الإلكتروني"
              v-model="form.email"
              :error-messages="errors.email"
            ></v-text-field>
            <v-text-field
              dense
              outlined
              type="password"
              label="كلمة المرور"
              v-model="form.password"
              :error-messages="errors.password"
            ></v-text-field>
          </div>
        </v-container>
      </v-card-text>

      <!-- ACTIONS -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :loading="formLoading"
          color="secondary"
          elevation="1"
          dark
          @click="editMode ? update(form) : create(form)"
        >حفظ</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'record-form',


  data: function () {
    return {
      form: {},
      errors: {},
      formLoading: false,
    }
  },


  computed: {
    ...mapState(
      'admins',
      {
        editMode: state => state.editMode,
        showForm: state => state.showForm,
        formRecord: state => {
          return {
            id: state.formRecord.id,
            name: state.formRecord.name,
            email: state.formRecord.email,
            password: state.formRecord.password,
          };
        }
      }
    )
  },


  watch: {
    formRecord(form) { this.form = form; }
  },


  methods: {
    ...mapMutations(
      'admins',
      [
        'HIDE_FORM'
      ]
    ),

    create(form) {
      this.formLoading = true;

      this.$store.dispatch('admins/create', { form })
        .then((response) => {
          this.$bus.$emit('showSnackbar', {
            text: 'تم إضافة مشرف بنجاح',
            color: 'success'
          });
          this.HIDE_FORM();
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء إضافة مشرف',
            color: 'accent'
          });
        })
        .finally(() => {
          this.formLoading = false;
        });
    },

    update(form) {
      this.formLoading = true;

      this.$store.dispatch('admins/update', { form })
        .then(() => {
          this.$bus.$emit('showSnackbar', {
            text: 'تم تعديل البيانات بنجاح',
            color: 'success'
          });
          this.HIDE_FORM();
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء تعديل البيانات',
            color: 'accent'
          });
        })
        .finally(() => {
          this.formLoading = false;
        });
    }
  }
}
</script>
