<template>
  <div class="page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-sitemap</v-icon>
      إدارة التصنيفات الرئيسية
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />

    <!-- CREATE / UPDATE FROM -->
    <record-form @update="fetchRecords()" />

    <!-- NEW RECORD -->
    <div class="mb-3 mt-9 text-left">
      <v-btn
        color="primary"
        elevation="0"
        @click="
          SET_RECORD_FORM({});
          SET_EDIT_MODE(false);
          SHOW_RECORD_FORM();
        "
      >
        إضافة تصنيف
        <v-icon class="mr-2">mdi-plus</v-icon>
      </v-btn>
    </div>

    <!-- TABLE -->
    <v-data-table
      item-key="id"
      class="elevation-1"
      :loading="table.loading"
      :headers="table.headers"
      :items="records"
      loading-text="جاري تحميل البيانات"
      no-data-text="لا يوجد بيانات"
      disable-filtering
      disable-pagination
      disable-sort
      hide-default-footer
      show-expand
      single-expand
    >
      <template v-slot:item.image="{ item }">
        <img :src="item.image" width="50px" class="mt-3 mb-2 rounded-lg" />
      </template>
      <template v-slot:item.show="{ item }">
        <v-switch
          v-if="item.show == 0"
          inset
          :input-value="false"
          @change="unblock(item)"
        ></v-switch>
        <v-switch
          v-else="item.show == 1"
          color="success"
          inset
          :input-value="true"
          @change="block(item)"
        ></v-switch>
      </template>
      <!-- EXPAND ICON -->
      <template v-slot:item.data-table-expand="{ isExpanded, expand, item }">
        <v-btn
          v-if="isExpanded"
          small
          rounded
          outlined
          color="deep-orange darken-2"
          class="mx-2"
          @click="expand(false)"
        >
          اخفاء
        </v-btn>
        <v-btn
          v-else
          small
          rounded
          outlined
          color="cyan darken-3"
          class="mx-2"
          @click="expand(true); fetchSubCategories(item)"
        >
          اظهار
        </v-btn>
      </template>
      <!-- EXPANDED ITEM -->
      <template v-slot:expanded-item="{ headers, item }">
        <td class="pa-0" :colspan="headers.length">
          <subcategories :item="item" />
        </td>
      </template>
      <!-- CREATED AT -->
      <!-- <template v-slot:item.created_at="{ item }">
        {{ (new Date(item.created_at)).toLocaleDateString('ar') }}
      </template> -->
      <!-- CONTROLS -->
      <template v-slot:item.controls="{ item }">
        <v-btn
          small
          icon
          color="success"
          class="mx-2"
          @click="
            SET_RECORD_FORM(item);
            SET_EDIT_MODE(true);
            SHOW_RECORD_FORM();
          "
        >
          <v-icon>mdi-circle-edit-outline</v-icon>
        </v-btn>

        <v-btn small icon color="error" class="mx-2" @click="remove(item)">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <!-- PAGINATION -->
    <div class="text-center mt-7">
      <v-pagination
        total-visible="7"
        circle
        :value="parseInt(filters.page)"
        :length="totalPages"
        @input="$router.replace({ query: { ...$route.query, page: $event } })"
      ></v-pagination>
    </div>
  </div>
</template>


<script>
import RecordForm from "./RecordForm";
import { mapState, mapMutations } from "vuex";
import Subcategories from "../subcategories/Subcategories.vue";

export default {
  name: "categories",
  components: { RecordForm, Subcategories },

  data: function () {
    return {
      // isExpanded: true,
      table: {
        headers: [
          {
            value: "id",
            text: "التسلسل",
          },
          {
            value: "image",
            text: "الأيقونة",
          },
          {
            value: "name_ar",
            text: "الاسم",
          },
          {
            value: "name_en",
            text: "Name",
          },
          {
            value: "data-table-expand",
            text: "الأقسام الفرعية",
          },
          {
            value: "show",
            text: "اخفاء",
          },
          {
            value: "controls",
            text: "اعدادات",
          },
        ],
        loading: false,
      },
    };
  },

  computed: {
    ...mapState("categories", ["records", "filters", "totalPages"]),
  },

  watch: {
    $route: {
      async handler(route) {
        if (!route.query.page) {
          await this.$router.replace({ query: { ...route.query, page: 1 } });
          return;
        }

        this.SET_FILTERS({ ...route.query });
        this.fetchRecords();
      },
      deep: true,
      immediate: true,
    },
  },

  methods: {
    ...mapMutations("categories", [
      "SHOW_RECORD_FORM",
      "SET_EDIT_MODE",
      "SET_RECORD_FORM",
      "SET_FILTERS",
    ]),


 fetchSubCategories(item) {
      this.table.loading = true;
      this.$store
        .dispatch("subcategories/fetchRecordsAgain", { itemId: item.id })
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء جلب البيانات",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },


    fetchRecords() {
      this.table.loading = true;

      this.$store
        .dispatch("categories/fetchRecords")
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء جلب البيانات",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },

    async remove(selectedRecord) {
      const confirmMessageParams = [
        `حذف التصنيف رقم ${selectedRecord.id}!`,
        `هل أنت متأكد من حذف التصنيف '${selectedRecord.name_ar}'؟`,
        { color: "error" },
      ];
      if (!(await this.$root.$confirm(...confirmMessageParams))) return;

      this.table.loading = true;

      this.$store
        .dispatch("categories/delete", { recordId: selectedRecord.id })
        .then(() => {
          this.$bus.$emit("showSnackbar", {
            text: "تم حذف التصنيف بنجاح",
            color: "success",
          });
        })
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء حذف التصنيف",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },
    async unblock(selectedRecord) {
      this.table.loading = true;

      this.$store
        .dispatch("categories/unblock", { record: selectedRecord })
        .then(() => {

          this.$bus.$emit('showSnackbar', {
            text: `تم فك حظر التصنيف ${selectedRecord.name_ar}`,
            color: 'success'
          });
          this.fetchRecords();
        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء فك حظر التصنيف',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },
    async block(selectedRecord) {
      this.table.loading = true;

      this.$store
        .dispatch("categories/block", { record: selectedRecord })
        .then(() => {
          this.$bus.$emit('showSnackbar', {
            text: `تم حظر التصنيف ${selectedRecord.name_ar}`,
            color: 'warning'
          });
          this.fetchRecords();
        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء حظر التصنيف',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    }
  },
};
</script>
