.v-application.v-application.v-application {
  font-family: "Cairo", sans-serif !important;

  background: radial-gradient(circle at center top, rgb(255, 255, 255) 0%, rgb(216, 223, 233) 100%);
// background-color: #f6f6f6;
  .headline,
  .title.title,
  .display-1,
  .display-2,
  .display-3,
  .text-subtitle-1,
  .text-subtitle-2,
  .text-h6,
  .text-h5 {
    font-family: "Cairo", sans-serif !important;
  }
.color_11{
  background-color: #444444;
}
  .page {
    padding-top: 1em;
    padding-bottom: 3em;
  }
}

.v-footer--absolute, .v-footer--fixed {
  z-index: 250;
}

.header-divider {
  border: 0;
  border-bottom: 1px solid #b4c4ce;
}

.light-divider {
  border: 0;
  border-bottom: 1px solid #eeeeee;
}

.v-list-item__title {
  font-size: 0.95rem !important;
  line-height: 1.3rem !important;
}

.v-btn {
  letter-spacing: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 0.4em;
}

.v-card {
  .v-card__title {
    color: #eeeeee;
  }

  .v-card__actions {
    background-color: #eeeeee;
  }
}

hr.divider {
  border-width: 0;
  border-bottom: 1px solid #dddddd;
}

a {
  text-decoration: none;
}

.table-info {
  width: 100%;
  border-collapse: collapse;

  td {
    padding: 0.8em 0.3em;
    border: 1px solid #e6e6e6;
  }
}


.v-tab {
  letter-spacing: 0;
}

.partial-label {
  color: #444444;
  font-size: 1.5em;
}

.filter-box {
  border: 1px solid #eee;
  background-color: #ffffff9c;
}
