<template>
  <div>
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-cellphone-cog</v-icon>
      إدارة محتوي التطبيق
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />

    <v-tabs centered dark background-color="secondary" large height="50">
      <v-tab active-class="secondary darken-2" to="/admin/pages/terms-and-conditions">
        <v-icon class="ml-3">mdi-lock</v-icon>الشروط والأحكام
      </v-tab>
      <v-tab active-class="secondary darken-2" to="/admin/pages/usage-policy">
        <v-icon class="ml-3">mdi-briefcase-account</v-icon>سياسة الاستخدام
      </v-tab>
      <v-tab active-class="secondary darken-2" to="/admin/pages/about-us">
        <v-icon class="ml-3">mdi-cellphone</v-icon>عن التطبيق
      </v-tab>
    </v-tabs>

    <v-card>
      <!-- CONTENT -->
      <v-card-text class="pt-5 pb-0">
        <v-container>
          <v-progress-linear v-if="contentLoading" color="primary" indeterminate rounded height="6"></v-progress-linear>
          <div v-else>
            <div class="text-center">
              <v-btn-toggle dense rounded class="mb-6" v-model="language">
                <v-btn value="ar">عربي</v-btn>
                <v-btn value="en">english</v-btn>
              </v-btn-toggle>
            </div>

            <v-textarea
              v-if="language"
              rows="9"
              outlined
              v-model="content"
              :label="language == 'en' ? 'content' : 'المحتوي'"
            ></v-textarea>
          </div>
        </v-container>
      </v-card-text>

      <!-- ACTIONS -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="secondary" elevation="1" dark @click="update(content)">حفظ</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>


<script>
export default {
  name: 'pages',


  data: function () {
    return {
      content: '',
      pageSlug: null,
      language: null,
      contentLoading: false,

      editorOption: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'direction': 'rtl' }],

            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }]
          ]
        },
      }
    };
  },


  watch: {
    '$route.params.page': {
      handler(pageSlug) {
        this.pageSlug = pageSlug;
        this.language = null;
      },
      immediate: true
    },

    'language': {
      handler(language) {
        if (!language) return;
        this.fetchContent();
      },
      immediate: true
    }
  },


  methods: {
    fetchContent(lang) {
      this.contentLoading = true;

      this.axios
        .get(`/admin/pages/${this.pageSlug}`, { headers: { 'Accept-Language': this.language } })
        .then((response) => {
          this.content = response.data.content;
        })
        .catch((error) => {
          console.log(error, error.response);
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء جلب الصفحة',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.contentLoading = false;
        });
    },

    update(content) {
      this.contentLoading = true;

      this.axios.put(`/admin/pages/${this.pageSlug}?lang=${this.language}`, {
          content: this.content,
        })
        .then(() => {
          this.$bus.$emit('showSnackbar', {
            text: 'تم تعديل الصفحة بنجاح',
            color: 'success'
          });
        })
        .catch((error) => {
          this.$emit("failure");
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء تعديل الصفحة',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.contentLoading = false;
        });
    },
  },
};
</script>
