<template>
  <div class="filter-box py-5 px-4 mb-6">
    <h3 class="primary--text mb-3"><v-icon class="ml-1">mdi-filter</v-icon> الفلاتر</h3>
    <v-row align="center">
      <!-- QUERY -->
      
      <!-- Q -->
      <v-col class="d-flex" cols="12" sm="6">
          <v-text-field
          rounded
          outlined
          solo
          hide-details
          clearable
          label="بحث بالاسم"
          v-model="filters.q"
        ></v-text-field>
      </v-col>
      <v-col class="d-flex" cols="12" sm="6">
        <v-text-field
        rounded

          outlined
          solo
          hide-details
          clearable
          label="التصنيف"
          item-text="name_ar"
          item-value="id"
          v-model="filters.subcategory"
        ></v-text-field>
      </v-col>
      <!-- SEARCH BUTTON -->
      <v-col class="d-flex" cols="6">
        <v-spacer></v-spacer>
        <v-btn class="mr-2"
          @click="$router.replace({ query: { ...filters, page: 1 } })"
        large
        color="primary">بحث</v-btn>
      </v-col>
    </v-row>
  </div>
</template>


<script>
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'filters-box',


  data: function () {
    return {
      categoriesLoading: false,

      filters: {
        q: null,
        subcategory: null
      }
    }
  },


  created() {
  },


  computed: {
  },


  methods: {
    ...mapMutations('products', ['SET_FILTERS']),
  }
}
</script>
