<template>
  <div class="home page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-cart</v-icon>
      إدارة المنتجات
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />

    <!-- CREATE / UPDATE FROM -->
    <record-form @update="fetchRecords({})" />

    <!-- ADD PRICE FROM -->

    <!-- Filters Box -->
    <filters-box @fetch="fetchRecords({ page: 1 })" />

    <!-- NEW RECORD -->
    <div class="mb-3 mt-9 text-left">
      <v-btn
        large
        color="primary"
        elevation="0"
        @click="
          SET_FORM_RECORD({});
          SET_EDIT_MODE(false);
          SHOW_PRODUCT_FORM();
        "
      >
        إضافة منتج
        <v-icon class="mr-2">mdi-plus</v-icon>
      </v-btn>
    </div>

    <!-- TABLE -->
    <v-data-table
      item-key="id"
      class="elevation-1"
      :loading="table.loading"
      :headers="table.headers"
      :items="tableRecords"
      loading-text="جاري تحميل البيانات"
      no-data-text="لا يوجد بيانات"
      disable-filtering
      disable-pagination
      disable-sort
      hide-default-footer
    >
      <template v-slot:item.description_ar="{ item }">
        <div>{{ item.description_ar }}</div>
      </template>

      <!-- NAME -->
      <!-- <template v-slot:item.name_ar="{ item }">
        <router-link :to="`/products/${item.id}`">
          <span style="text-decoration: underline">
            {{ item.name_ar }}
          </span>
        </router-link>
      </template> -->

            <template v-slot:item.router="{ item }">
        <router-link :to="`/products/${item.id}`">
          <v-icon class="pr-1" color="teal darken-4" >mdi-arrow-left-circle</v-icon>
        </router-link>
      </template>


      <!-- IMAGE -->
      <template v-slot:item.caption="{ item }">
        <a
          v-if="item.media.find((image) => image.caption)"
          :href="item.media.find((image) => image.caption).image"
          target="_blank"
        >
          <img
            :src="item.media.find((image) => image.caption).image"
            width="50px"
            class="mt-2 mb-1"
            style="border-radius: 5px"
          />
        </a>
        <a
          v-else-if="item.media[0]"
          :href="item.media[0].image"
          target="_blank"
        >
          <img
            :src="item.media[0].image"
            width="50px"
            class="mt-2 mb-1"
            style="border-radius: 5px"
          />
        </a>
      </template>

      <!-- CREATED AT -->
      <template v-slot:item.created_at="{ item }">
        {{ new Date(item.created_at).toLocaleString("ar") }}
      </template>

      <!-- CONTROLS -->
      <template v-slot:item.controls="{ item }">
        <v-btn
          small
          icon
          color="secondary"
          class="mx-1"
          @click="
            SET_FORM_RECORD(item);
            SET_EDIT_MODE(true);
            SHOW_PRODUCT_FORM();
          "
        >
          <v-icon>mdi-circle-edit-outline</v-icon>
        </v-btn>
        <v-btn small icon color="error" class="mx-1" @click="remove(item)">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>
    <!-- PAGINATION -->
    <div class="text-center mt-7">
      <v-pagination
        @input="$router.replace({ query: { ...$route.query, page: $event } })"

        :value="paginationPage"
        :length="paginationLength"
        circle
        :total-visible="7"
      ></v-pagination>
    </div>
  </div>
</template>


<script>
import RecordForm from "./RecordForm";
import FiltersBox from "./FiltersBox";
import { mapState, mapMutations } from "vuex";

export default {
  name: "products",
  components: { RecordForm, FiltersBox },

  data: function () {
    return {
      // table
      table: {
        headers: [
          {
            value: "id",
            text: "رقم المنتج",
          },
          {
            value: "caption",
            text: "الصورة",
          },
          {
            value: "name_ar",
            text: "الاسم",
          },

          {
            value: "price",
            text: "السعر",
          },

          {
            value: "description_ar",
            text: "نبذة",
          },
          {
            value: "trademark_ar",
            text: "العلامة التجارية",
          },
          {
            value: "type_ar",
            text: "P/N",
          },
          {
            value: "sub_category.name_ar",
            text: "التصنيف",
          },
         {
            value: "created_at",
            text: "تاريخ الإضافة",
          },
          {
            value: "router",
            text: "المزيد",
          },
        ],
        loading: false,
      },
    };
  },

  created() {
    // this.fetchRecords({ page: 1 });
  },

  computed: {
    ...mapState("products", {
      tableRecords: (state) => state.records,
      paginationPage: (state) => state.page,  
      paginationLength: (state) => state.totalPages,
    }),
  },
watch: {
    $route: {
      async handler(route) {
        if (!route.query.page) {
          await this.$router.replace({ query: { ...route.query, page: 1 } });
          return;
        }
        this.SET_FILTERS({ ...route.query });
        this.fetchRecords(route.query);
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    ...mapMutations("products", {
      SHOW_PRODUCT_FORM: "SHOW_FORM",
      SET_EDIT_MODE: "SET_EDIT_MODE",
      SET_FORM_RECORD: "SET_FORM_RECORD",
      SET_FILTERS: "SET_FILTERS",
    }),



    fetchRecords(params) {
      
      this.table.loading = true;
      this.$store
        .dispatch("products/fetchRecords", params)
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء جلب البيانات",
            color: "accent",
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },

    async remove(selectedRecord) {
      const confirmMessageParams = [
        `حذف المنتج رقم ${selectedRecord.id}!`,
        `هل أنت متأكد من حذف المنتج '${selectedRecord.name_ar}'؟`,
        { color: "error" },
      ];
      if (!(await this.$root.$confirm(...confirmMessageParams))) return;

      this.$store
        .dispatch("products/delete", { recordId: selectedRecord.id })
        .then(() => {
          this.$bus.$emit("showSnackbar", {
            text: "تم حذف المنتج بنجاح",
            color: "success",
          });
        })
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء حذف المنتج",
            color: "accent",
          });
        });
    },
  },
};
</script>
