<template>
  <v-dialog :value="showForm" @input="v => v || HIDE_FORM()" max-width="600px" scrollable>
    <v-card>
      <!-- TITLE -->
      <v-card-title class="primary">
        <span class="headline">{{ editMode ? 'تعديل المنتج' : 'اضافة منتج'}}</span>
      </v-card-title>

      <!-- INPUTS -->
      <v-card-text class="pt-5 pb-0">
        <v-container>
          <v-progress-linear v-if="formLoading" color="primary" indeterminate rounded height="6"></v-progress-linear>
          <div v-else>
            <!-- NAME -->
            <v-text-field
              dense
              outlined
              label="الاسم "
              v-model="form.name_ar"
              :error-messages="errors.name_ar"
            ></v-text-field>
            <v-text-field
              dense
              outlined
              dir="ltr"
              label="english name"
              v-model="form.name_en"
              :error-messages="errors.name_en"
            ></v-text-field>
         
            <!-- DESCRIPTION -->
            <v-textarea
              dense
              outlined
              label="الوصف"
              v-model="form.description_ar"
              :error-messages="errors.description_ar"
            ></v-textarea>
            <v-textarea
              dense
              outlined
              label="description"
              v-model="form.description_en"
              :error-messages="errors.description_en"
            ></v-textarea>

                <v-textarea
              dense
              outlined
              label="P/N عربي"
              v-model="form.type_ar"
              :error-messages="errors.type_ar"
            ></v-textarea>
                <v-textarea
              dense
              outlined
              label="P/N english"
              v-model="form.type_en"
              :error-messages="errors.type_en"
            ></v-textarea>

                <v-textarea
              dense
              outlined
              label="العلامة التجارية"
              v-model="form.trademark_ar"
              :error-messages="errors.trademark_ar"
            ></v-textarea>
            
                <v-textarea
              dense
              outlined
              label="Trademark"
              v-model="form.trademark_en"
              :error-messages="errors.trademark_en"
            ></v-textarea>
               
     <v-text-field
              dense
              outlined
              label="السعر"
              v-model="form.price"
              :error-messages="errors.price"
            ></v-text-field
>
               

            <!-- CATEGORY -->
            <v-autocomplete
              dense
              outlined
              hide-details
              clearable
              label="التصنيف"
              prepend-icon="mdi-sitemap"
              class="mb-5"
              item-text="name_ar"
              item-value="id"
              v-model="form.sub_categories_id"
              :items="subCategoriesRecords"
              :loading="categoriesLoading"
            ></v-autocomplete>
            <!-- IMAGES -->
            <v-file-input
              dense
              multiple
              outlined
              label="الصور"
              prepend-icon="mdi-image"
              accept="image/*"
              v-model="form.images"
              :error-messages="errors.images"
            ></v-file-input>
          </div>
        </v-container>
      </v-card-text>

      <!-- ACTIONS -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          :loading="formLoading"
          color="secondary"
          elevation="1"
          dark
          @click="editMode ? update(form) : create(form)"
        >حفظ</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "record-form",


  data: function () {
    return {
      form: {},
      errors: {},
      formLoading: false,

      categoriesLoading: false,
    };
  },


 created() {
    this.$store.dispatch('subcategories/fetchAllRecords');
  }, 


  computed: {
    ...mapState("products", {
      editMode: (state) => state.editMode,
      showForm: (state) => state.showForm,
      formRecord: (state) => {
        const fields = [
          'id',
          'name_ar',
          'name_en',
          'type_ar',
          'type_en',
          'price',
          'trademark_ar',
          'trademark_en',
          'description_ar',
          'description_en',
          'sub_categories_id'
        ];

        const formRecord = { images: [] };

        fields.forEach((field) => {
          formRecord[field] = state.formRecord[field];
        });

        return formRecord;
      },
    }),
    ...mapState("subcategories", { subCategoriesRecords: (state) => state.records }),
  },


  watch: {
    formRecord(form) {
      this.form = form;
    },
  },


  methods: {
    ...mapMutations("products", ["HIDE_FORM"]),

    create(form) {
      this.formLoading = true;

      this.$store
        .dispatch("products/create", { form })
        .then((response) => {
          this.$bus.$emit("showSnackbar", {
            text: "تم إضافة منتج بنجاح",
            color: "success",
          });
          this.HIDE_FORM();
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء إضافة منتج",
            color: "accent",
          });
        })
        .finally(() => {
          this.formLoading = false;
        });
    },

    update(form) {
      this.formLoading = true;

      this.$store
        .dispatch("products/update", { form })
        .then(() => {
          this.$bus.$emit("showSnackbar", {
            text: "تم تعديل المنتج بنجاح",
            color: "success",
          });

          this.$emit('update');
          this.HIDE_FORM();
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء تعديل المنتج",
            color: "accent",
          });
        })
        .finally(() => {
          this.formLoading = false;
        });
    },
  },
};
</script>
