<template>
  <div class="home page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-bell</v-icon>
      إرسال الإشعارات
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />

    <div class="pa-4 white">
      <v-progress-linear
        v-if="notificationFormLoading"
        color="primary"
        indeterminate
        rounded
        height="6"
      ></v-progress-linear>
      <div v-else>
        <!-- TARGET -->
        <v-radio-group v-model="notificationForm.target" row label="ارسال الي:" hide-detailsclass="mb-9">
          <v-radio color="primary" label="الكل" value="all"></v-radio>
        </v-radio-group>

        <!-- DEVICE ID -->
        <!-- <v-autocomplete
          v-if="notificationForm.target == 'single'"
          dense
          outlined
          hide-no-data
          no-filter
          clearable
          return-object
          item-text="email"
          item-value="id"
          label="البريد الالكتروني"
          :items="usersAutocomplete.records"
          :loading="usersAutocomplete.loading"
          v-model="usersAutocomplete.selectedUser"
          :search-input.sync="usersAutocomplete.search"
        ></v-autocomplete> -->

      

        <!-- MESSAGE AR -->
        <v-textarea
          dense
          outlined
          label="الاشعار باللغة العربية"
          v-model="notificationForm.message_ar"
        ></v-textarea>

        <!-- MESSAGE EN -->
        <v-textarea
          dense
          outlined
          dir="ltr"
          label="English Notification"
          v-model="notificationForm.message_en"
        ></v-textarea>



        <!-- SEND BUTTON -->
        <div class="d-flex">
          <v-spacer></v-spacer>
          <v-btn @click="sendNotification(notificationForm)" large color="primary">ارسال</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'notifications',

  data: function () {
    return {
      notificationForm: {
        target: 'all',
        // title: 'cv-sport',
        message_ar: '',
        message_en: '',
      },
      notificationFormLoading: false,

      usersAutocomplete: {
        search: '',
        records: [],
        loading: false,
        selectedUser: null
      }
    }
  },


  watch: {
    'usersAutocomplete.search'(query) {
      query != '' && this.searchUsersHavingDeviceId(query);
    }
  },


  methods: {
  //   searchUsersHavingDeviceId(query) {
  //     this.usersAutocomplete.loading = true;

  //     this.axios.get(`/admin/users?email=${query}`)
  //       .then((response) => {
  //         this.usersAutocomplete.records = response.data.data;
  //       })
  //       .catch((error) => { console.log(error, error.response); })
  //       .finally(() => {
  //         this.usersAutocomplete.loading = false;
  //       });
  //   },

    sendNotification(notificationForm) {
      this.notificationFormLoading = true;

      let payload = JSON.parse(JSON.stringify(notificationForm));

      if (payload.target == 'single') {
        if (!this.usersAutocomplete.selectedUser) return;
        payload.id = this.usersAutocomplete.selectedUser.id;
      }

      this.axios.post('/admin/send-notification', payload)
        .then((response) => {
          this.$bus.$emit('showSnackbar', {
            text: 'تم ارسال الإشعار بنجاح',
            color: 'success'
          });
        })
        .catch((error) => {
          console.log(error, error.response);
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء ارسال الإشعار',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.notificationFormLoading = false;
        });
    }
  }
}
</script>
