<template>
  <div class="filter-box py-5 px-4 mb-6">
    <h3 class="primary--text mb-3">
      <v-icon class="ml-1">mdi-filter</v-icon> الفلاتر
    </h3>
    <v-row align="center">
      <v-col class="d-flex" cols="12" sm="6">
        <v-text-field
          hide-details
          rounded
          outlined
          solo
          clearable
          label="بحث بأسم المستخدم"
          v-model="filters.q"
        ></v-text-field>
      </v-col>
      <v-col class="d-flex" cols="12" sm="6">
        <v-select
        solo
        outlined
          v-model="filters.selected"
          :items="filters.items"
          item-text="name"
          label="بحث بحالة الطلب"
          hide-details
          clearable
          
          rounded
        ></v-select>
      </v-col>
      <!-- SEARCH BUTTON -->
      <v-col class="d-flex" cols="6">
        <v-spacer></v-spacer>
        <v-btn class="mr-2"
          @click="$router.replace({ query: { ...filters, page: 1 } })"
        large
        color="primary">بحث</v-btn>
      </v-col>
    </v-row>
    <br />
  </div>
</template>


<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "filters-box",

  data: function () {
    return {
      categoriesLoading: false,

      filters: {
        items: [
          { value: "1", name: "الطلبات المنتهية" },
          { value: "2", name: "الطلبات الجديدة" },
        ],
        selected: null,
        q: null,
        category_id: null,
      },
    };
  },

  // created() {
  //   this.$store.dispatch("users/fetchAllRecords");
  // },

  computed: {
    // ...mapState("users", { usersRecords: (state) => state.records }),
  },
  methods: {
    ...mapMutations("orders", ["SET_FILTERS"]),
  },
};
</script>
