<template>
  <div class="page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-cart</v-icon>
      إدارة الطلبات
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />

    <!-- CREATE / UPDATE FROM -->
    <!-- <record-form @update="fetchRecords()" /> -->

    <filters-box @fetch="fetchRecords({ page: 1 })" />

    <!-- TABLE -->
    <v-data-table
      item-key="id"
      class="elevation-1"
      :loading="table.loading"
      :headers="table.headers"
      :items="records"
      loading-text="جاري تحميل البيانات"
      no-data-text="لا يوجد بيانات"
      disable-filtering
      disable-pagination
      disable-sort
      hide-default-footer
    >
      <template v-slot:item.icon="{ item }">
        <span v-if="item.status == 'ordered'">
          طلــب جديــد 
          <v-icon
           
          color="blue darken-3"
          class="mr-3"
            >mdi-cart</v-icon
          >
        </span>

        <span v-else="item.status == 'delivered'">
          طلــب سابـق 
          <v-icon
           
          color="success"
          class="mr-3"
            >mdi-check-decagram</v-icon
          >
        </span>
      </template>

      <template v-slot:item.status="{ item }">
        <v-select
          class="mt-2"
          :items="items"
          item-text="name"
          :label="item.status == 'ordered' ? 'مطلوب' : 'انتهـت'"
          dense
          solo
          rounded
          outlined
          @change="delivered(item, $event)"
        ></v-select>

        <!-- <v-icon v-if="item.status == 'انتهت'" color="success" class="mr-3"
            >mdi-shield-check</v-icon
          >
          <v-icon
            v-else-if="item.status == 'مطلوب'"
            color="warning"
            class="mr-3"
            >mdi-truck-delivery</v-icon
          > -->
      </template>

      <!-- CREATED AT -->
      <template v-slot:item.created_at="{ item }">
        {{ new Date(item.created_at).toLocaleString("ar") }}
      </template>

      <template v-slot:item.details="{ item }">
        <router-link
          :to="{
            name: 'orderDetails',
            params: { id: item.id, user: item.user.id },
          }"
        >
          <v-btn rounded color="teal darken-4" dark> التفاصيـــل </v-btn>
        </router-link>
      </template>
    </v-data-table>

    <!-- PAGINATION -->
    <div class="text-center mt-7">
      <v-pagination
        total-visible="7"
        circle
        :value="parseInt(filters.page)"
        :length="totalPages"
        @input="$router.replace({ query: { ...$route.query, page: $event } })"
        
      ></v-pagination>
    </div>
  </div>
</template>


<script>
import FiltersBox from "./FiltersBox";
import { mapState, mapMutations } from "vuex";

export default {
  name: "orders",
  components: { FiltersBox },

  data: function () {
    return {
      items: [
        { value: "1", name: "انتهـت" },
        { value: "2", name: "مطلوب" },
      ],
      selected: null,
      table: {
        headers: [
          {
            value: "id",
            text: "التسلسل",
          },
          {
            value: "user.name",
            text: "اسـم المسـتـخـدم",
          },
          {
            value: "icon",
            text: "حـالـة الطــلــب",
          },
          {
            value: "status",
            text: "تغيــيـر حـالـة الطــلــب",
            width: 200,
          },

          {
            value: "created_at",
            text: "تاريخ الطلـــب",
          },
          {
            value: "details",
            text: "تفاصيل الطلــب",
          },
        ],
        loading: false,
      },
    };
  },
  
  computed: {
    ...mapState("orders", ["records", "filters", "totalPages"]),
  },

  watch: {
    $route: {
      async handler(route) {
        if (!route.query.page) {
          await this.$router.replace({ query: { ...route.query, page: 1 } });
          return;
        }

        this.SET_FILTERS({ ...route.query });
        this.fetchRecords();
      },
      deep: true,
      immediate: true,
    },
  },

created() {
    this.fetchRecords({ page: 1 });
  },

  methods: {
    ...mapMutations("orders", [
      "SHOW_RECORD_FORM",
      "SET_EDIT_MODE",
      "SET_RECORD_FORM",
      "SET_FILTERS",
    ]),

    fetchRecords(params) {
      this.table.loading = true;
      this.$store
        .dispatch("orders/fetchRecords", params)
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء جلب البيانات",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },

    async delivered(selectedRecord, event) {
      this.table.loading = true;
      console.log(event);
      if (event == "2") {
        this.$store
          .dispatch("orders/activate", { record: selectedRecord })
          .then(() => {
            this.$bus.$emit("showSnackbar", {
              text: `تم تعديل حالة الطلب بنجاح الي مطلوب`,
              color: "success",
            });
            this.fetchRecords();
          })
          .catch((error) => {
            this.$bus.$emit("showSnackbar", {
              text: "خطأ أثناء التعديل",
              color: "red darken-3",
            });
          })
          .finally(() => {
            this.table.loading = false;
          });
      } else {
        this.$store
          .dispatch("orders/deliver", { record: selectedRecord })
          .then(() => {
            this.$bus.$emit("showSnackbar", {
              text: `تم توصيل الطلب بنجاح`,
              color: "success",
            });
            this.fetchRecords();
          })
          .catch((error) => {
            this.$bus.$emit("showSnackbar", {
              text: "خطأ أثناء توصيل الطلب",
              color: "red darken-3",
            });
          })
          .finally(() => {
            this.table.loading = false;
          });
      }
    },
  },
};
</script>
<style scoped>
/* .maxWidth {
  width: 40%;
  text-align: center !important;
} */
</style>