<template>
  <div class="page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-cart</v-icon>
      تفاصيل الطلب
      <back-button />
    </h2>

    <p v-if="table.loading">
      <v-progress-linear
        indeterminate
        color="blue darken-2"
      ></v-progress-linear>
    </p>
    <table v-else class="table-info white">
      <tr>
        <td>
          <strong class="accent--text">رقم المستخدم</strong>
        </td>
        <td>{{ user.id }}</td>
      </tr>

      <tr>
        <td>
          <strong class="accent--text">اسم المستخدم</strong>
        </td>
        <td>{{ user.name }}</td>
      </tr>

      <tr>
        <td>
          <strong class="accent--text">رقم الهاتف</strong>
        </td>
        <td>{{ user.phone }}</td>
      </tr>

      <tr>
        <td>
          <strong class="accent--text">العنوان</strong>
        </td>
        <td>{{ user.address }}</td>
      </tr>


        <tr>
        <td>
          <strong class="accent--text">عدد المنتجات</strong>
        </td>
        <td>{{ count }}   <span class="pr-1">قطــعة</span> </td>
      </tr>

        <tr>
        <td>
          <strong class="accent--text">مجموع الحساب</strong>
        </td>
        <td> {{ totalPrice }}  <span class="pr-1">ريــال</span>  </td>
      </tr>
    </table>

    <hr class="my-5 header-divider" />

    <!-- CREATE / UPDATE FROM -->
    <!-- <record-form @update="fetchRecords()" /> -->


    


    <!-- TABLE -->
    <v-data-table
      item-key="id"
      class="elevation-1"
      :loading="table.loading"
      :headers="table.headers"
      :items="records"
      loading-text="جاري تحميل البيانات"
      no-data-text="لا يوجد بيانات"
      disable-filtering
      disable-pagination
      disable-sort
      hide-default-footer
    >
      <template v-slot:item.caption="{ item }">
        <a
          v-if="item.product.media.find((image) => image.caption)"
          :href="item.product.media.find((image) => image.caption).image"
          target="_blank"
        >
          <img
            :src="item.product.media.find((image) => image.caption).image"
            width="50px"
            class="mt-2 mb-1"
            style="border-radius: 5px"
          />
        </a>
  <!-- {{filters.page}} -->
      </template>
      <template v-slot:item.details="{ item }">
        <v-btn small icon color="success" class="mx-2">
          <v-icon>mdi-cart</v-icon>
        </v-btn>

      </template>
      <!-- CREATED AT -->
      <!-- <template v-slot:item.created_at="{ item }">
        {{ (new Date(item.created_at)).toLocaleDateString('ar') }}
      </template> -->
      <!-- CONTROLS -->
      <!-- <template v-slot:item.controls="{ item }">
     
        <v-btn
          small
          icon
          color="error"
          class="mx-2"
          @click="remove(item)"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template> -->
    </v-data-table>

    <!-- PAGINATION -->
    <div class="text-center mt-7">
      <v-pagination
        total-visible="7"
        circle
        :value="parseInt(filters.page)"
        :length="totalPages"
        @input="$router.replace({ query: { ...$route.query, page: $event } })"
      ></v-pagination>
    </div>
  </div>
</template>


<script>
// import RecordForm from './RecordForm';
import { mapState, mapMutations } from "vuex";

export default {
  name: "orders",
  // components: { RecordForm },

  data: function () {
    return {
      user: {},
      table: {
        headers: [
          {
            value: "id",
            text: "التسلسل",
          },
          {
            value: "product.name_ar",
            text: "المنتج",
          },
          {
            value: "caption",
            text: "الصورة",
          },

          {
            value: "product.price",
            text: "السعر",
          },
          {
            value: "quantity",
            text: "الكمية",
          },
        ],
        loading: false,
      },
    };
  },

  computed: {
    ...mapState("orderdetails", ["records", "filters", "totalPages", "count", "totalPrice"]),
  },

  created() {
    this.fetchUser();
  },

  watch: {
    $route: {
      async handler(route) {
        if (!route.query.page) {
          await this.$router.replace({ query: { ...route.query, page: 1 } });
          return;
        }

        this.SET_FILTERS({ ...route.query });
        this.fetchRecords();
      },
      deep: true,
      immediate: true,
    },
  },

  methods: {
    ...mapMutations(
      "orderdetails",
      [
        "SHOW_RECORD_FORM",
        "SET_EDIT_MODE",
        "SET_RECORD_FORM",
        "SET_FILTERS",
        "SET_COUNT",
        "SET_TOTAL_PRICE",
      ],
      "users",
      ["SHOW_FORM", "SET_EDIT_MODE", "SET_FORM_RECORD"]
    ),

    fetchUser() {
      this.table.loading = true;

      const userID = this.$route.params.user;

      this.axios
        .get(`/admin/users/${userID}`)
        .then((response) => {
          this.user = response.data;
        })
        .catch((error) => {
          console.log(error, error.response);
          this.$bus
            .$emit("showSnackbar", {
              text: "خطأ أثناء جلب المنتج",
              color: "accent",
            })
            .finally(() => {
              this.table.loading = false;
            });
        });
    },

    fetchRecords() {
      this.table.loading = true;
      this.$store
        .dispatch("orderdetails/fetchRecordsDetails", { item: this.$route.params.id })
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء جلب البيانات",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },
  },
};
</script>
