<template>
  <v-dialog
    :value="showRecordForm"
    @input="(v) => v || HIDE_RECORD_FORM()"
    max-width="600px"
    scrollable
  >
    <v-card>
      <!-- TITLE -->
      <v-card-title class="primary">
        <span class="headline">{{
          editMode ? "تعديل قسم فرعي" : "اضافة قسم فرعي"
        }}</span>
      </v-card-title>

      <!-- INPUTS -->
      <v-card-text class="pt-5 pb-0">
        <v-container>
          <v-progress-linear
            v-if="formLoading"
            color="primary"
            indeterminate
            rounded
            height="6"
          ></v-progress-linear>
          <div v-else>
            <v-text-field
              dense
              outlined
              label="الاسم"
              v-model="form.name_ar"
              :error-messages="errors.name_ar"
            ></v-text-field>
            <v-text-field
              dense
              outlined
              label="English Name"
              v-model="form.name_en"
              :error-messages="errors.name_en"
            ></v-text-field>
            <v-text-field
              v-if="!editMode"
              dense
              disabled
              outlined
              prepend-icon="mdi-sitemap"
              v-model="item.name_ar"
            ></v-text-field>
            <v-autocomplete
              v-if="editMode"
              dense
              outlined
              hide-details
              clearable
              label="الفسم"
              prepend-icon="mdi-sitemap"
              class="mb-5"
              item-text="name_ar"
              item-value="id"
              v-model="form.category_id"
              :items="categories"
            ></v-autocomplete>
            <v-file-input
              dense
              outlined
              label="أيقونة قسم فرعي"
              prepend-icon="mdi-image"
              accept="image/*"
              v-model="form.image"
              :error-messages="errors.image"
            ></v-file-input>
          </div>
        </v-container>
      </v-card-text>

      <!-- ACTIONS -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          dark
          color="primary"
          elevation="1"
          :loading="formLoading"
          @click="editMode ? update(form) : create(form)"
          >حفظ</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>


<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: "record-form",
  props: ["item"],

  data: function () {
    return {
      form: {},
      errors: {},
      formLoading: false,

      categories: [],
    };
  },
  created() {
    this.fetchCategories();
  },

  computed: {
    ...mapState("subcategories", {
      editMode: (state) => state.editMode,
      showRecordForm: (state) => state.showRecordForm,
      recordForm: (state) => {
        return {
          id: state.recordForm.id,
          name_ar: state.recordForm.name_ar,
          name_en: state.recordForm.name_en,
          category_id: state.recordForm.category_id,
        };
      },
    }),
  },

  watch: {
    recordForm(form) {
      this.form = form;
    },
  },

  methods: {
    ...mapMutations("subcategories", ["HIDE_RECORD_FORM"]),

    fetchCategories() {
      this.axios.get("/admin/category/all").then((response) => {
        this.categories = response.data;
      });
    },

    create(form) {
      this.formLoading = true;
      form.category_id = this.item.id;
      console.log(form.category_id);

      this.$store
        .dispatch("subcategories/create", { form })
        .then((response) => {
          this.$bus.$emit("showSnackbar", {
            text: "تم إضافة قسم فرعي بنجاح",
            color: "success",
          });

          this.$emit("update");
          this.HIDE_RECORD_FORM();
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء إضافة قسم فرعي",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.formLoading = false;
        });
    },

    update(form) {
      this.formLoading = true;

      this.$store
        .dispatch("subcategories/update", { form })
        .then(() => {
          this.$bus.$emit("showSnackbar", {
            text: "تم تعديل البيانات بنجاح",
            color: "success",
          });

          this.$emit("update");
          this.HIDE_RECORD_FORM();
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء تعديل البيانات",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.formLoading = false;
        });
    },
  },
};
</script>
