<template>
  <div class="sub-categories-table">
    <!-- CREATE / UPDATE FROM -->
    <record-form @update="fetchRecords()" :item="item" />

    <!-- NEW RECORD -->
    <div class="mb-3 text-center ">
      <v-btn
      rounded
        color="primary"
        elevation="0"
        @click="
          SET_RECORD_FORM({});
          SET_EDIT_MODE(false);
          SHOW_RECORD_FORM();
        "
      >
        إضافة قسم فرعي
        <v-icon class="mr-2">mdi-plus</v-icon>
      </v-btn>
    </div>

    <!-- TABLE -->
    <v-data-table
      item-key="id"
      class="elevation-1 example"
      :loading="table.loading"
      :headers="table.headers"
      :items="records"
      loading-text="جاري تحميل البيانات"
      no-data-text="لا يوجد بيانات"
      disable-filtering
      disable-pagination
      disable-sort
      color="success"
      hide-default-footer
    >
      <template v-slot:item.image="{ item }">
        <img :src="item.image" width="50px" class="mt-3 mb-2 rounded-lg" />
      </template>
      <!-- CREATED AT -->
      <!-- <template v-slot:item.created_at="{ item }">
        {{ (new Date(item.created_at)).toLocaleDateString('ar') }}
      </template> -->
      <!-- CONTROLS -->
      <template v-slot:item.show="{ item }">
        <v-switch
          v-if="item.show == 0"
          inset
          :input-value="false"
          @change="unblock(item)"
        ></v-switch>
        <v-switch
          v-else="item.show == 1"
          color="success"
          inset
          :input-value="true"
          @change="block(item)"
        ></v-switch>
      </template>
      <template v-slot:item.controls="{ item }">
        <v-btn
          small
          icon
          color="success"
          class="mx-2"
          @click="
            SET_RECORD_FORM(item);
            SET_EDIT_MODE(true);
            SHOW_RECORD_FORM();
          "
        >
          <v-icon>mdi-circle-edit-outline</v-icon>
        </v-btn>

        <v-btn small icon color="error" class="mx-2" @click="remove(item)">
          <v-icon>mdi-delete</v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <!-- PAGINATION -->
    <div class="text-center mt-3 mb-7">
      <v-pagination
        total-visible="7"
        :value="parseInt(filters.page)"
        :length="totalPages"
        @input="
          SET_FILTERS({ page: $event });
          fetchRecords();
        "
      ></v-pagination>
    </div>
    <hr class="my-5 header-divider" />

  </div>
  
</template>


<script>
import RecordForm from "./RecordForm";
import { mapState, mapMutations } from "vuex";

export default {
  name: "subcategories",
  components: { RecordForm },
  props: ["item"],

  data: function () {
    return {
      table: {
        headers: [
          {
            value: "id",
            text: "التسلسل",
          },
          {
            value: "image",
            text: "الأيقونة",
          },
          {
            value: "name_ar",
            text: "الاسم",
          },
          {
            value: "name_en",
            text: "Name",
          },
          {
            value: "show",
            text: "اخفاء",
          },
          {
            value: "controls",
            text: "اعدادات",
          },
        ],
        loading: false,
      },
    };
  },

  computed: {
    ...mapState("subcategories", ["records", "filters", "totalPages"]),
  },

  created() {
    this.fetchRecords();
  },

  methods: {
    ...mapMutations("subcategories", [
      "SHOW_RECORD_FORM",
      "SET_EDIT_MODE",
      "SET_RECORD_FORM",
      "SET_FILTERS",
    ]),

    fetchRecords() {
      this.table.loading = true;
      this.$store
        .dispatch("subcategories/fetchRecords", { itemId: this.item.id })
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء جلب البيانات",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },

    async remove(selectedRecord) {
      const confirmMessageParams = [
        `حذف التصنيف رقم ${selectedRecord.id}!`,
        `هل أنت متأكد من حذف التصنيف '${selectedRecord.name_ar}'؟`,
        { color: "error" },
      ];
      if (!(await this.$root.$confirm(...confirmMessageParams))) return;

      this.table.loading = true;

      this.$store
        .dispatch("subcategories/delete", { recordId: selectedRecord.id })
        .then(() => {
          this.$bus.$emit("showSnackbar", {
            text: "تم حذف التصنيف بنجاح",
            color: "success",
          });
        })
        .catch((error) => {
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء حذف التصنيف",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },
    async unblock(selectedRecord){
      this.table.loading = true;

      this.$store.dispatch('subcategories/unblock', { record: selectedRecord })
        .then(() => {

          this.$bus.$emit('showSnackbar', {
            text: `تم فك حظر التصنيف الفرعى ${selectedRecord.name_ar}`,
            color: 'success'
          });
          this.fetchRecords();
        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء فك حظر التصنيف الفرعى',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });;
    },
    async block(selectedRecord){
       
      this.table.loading = true;

      this.$store.dispatch('subcategories/block', { record: selectedRecord })
        .then(() => {
          this.$bus.$emit('showSnackbar', {
            text: `تم حظر التصنيف الفرعى ${selectedRecord.name_ar}`,
            color: 'warning'
          });
          this.fetchRecords();

        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء حظر التصنيف الفرعى',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });;
    }
  },
};
</script>
<style scoped>
::v-deep .v-data-table-header {
  background-color: #eee;
}

.sub-categories-table {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #eee, #fff) 1 100%;
  
  background-color: #f6f6f6;
  padding: 1rem 2rem;
}
</style>
