<template>
  <div class="page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-facebook</v-icon>
      مواقع التواصل
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />

    <!-- CREATE / UPDATE FROM -->
    <record-form @update="fetchRecords()" />

    <!-- NEW RECORD -->
    <!-- <div class="mb-3 mt-9 text-left">
      <v-btn
        color="primary"
        elevation="0"
        @click="SET_RECORD_FORM({}); SET_EDIT_MODE(false); SHOW_RECORD_FORM()"
      >
        إضافة تصنيف
        <v-icon class="mr-2">mdi-plus</v-icon>
      </v-btn>
    </div> -->

    <!-- TABLE -->
    <v-data-table
      item-key="id"
      class="elevation-1"
      :loading="table.loading"
      :headers="table.headers"
      :items="records"
      loading-text="جاري تحميل البيانات"
      no-data-text="لا يوجد بيانات"
      disable-filtering
      disable-pagination
      disable-sort
      hide-default-footer
    >
      <template v-slot:item.image="{ item }">
        <img
          :src="item.image"
          width="50px"
          class="mt-3 mb-2 rounded-lg"
        >
      </template>
      <!-- CREATED AT -->
      <!-- <template v-slot:item.created_at="{ item }">
        {{ (new Date(item.created_at)).toLocaleDateString('ar') }}
      </template> -->
      <!-- CONTROLS -->
      <template v-slot:item.controls="{ item }">
        <v-btn
          small
          icon
          color="success"
          class="mx-2"
          @click="SET_RECORD_FORM(item); SET_EDIT_MODE(true); SHOW_RECORD_FORM()"
        >
          <v-icon>mdi-circle-edit-outline</v-icon>
        </v-btn>

        <!-- <v-btn
          small
          icon
          color="error"
          class="mx-2"
          @click="remove(item)"
        >
          <v-icon>mdi-delete</v-icon>
        </v-btn> -->
      </template>
    </v-data-table>

    <!-- PAGINATION -->
    <div class="text-center mt-7">
      <v-pagination
        total-visible="7"
        circle
        :value="parseInt(filters.page)"
        :length="totalPages"
        @input="$router.replace({ query: { ...$route.query, page: $event } })"
      ></v-pagination>
    </div>
  </div>
</template>


<script>
import RecordForm from './RecordForm';
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'social',
  components: { RecordForm },

  data: function () {
    return {
      table: {
        headers: [
       
          {
            value: 'key',
            text: 'الاسم'
          },
          {
            value: 'content',
            text: 'مواقع التواصل'
          },
          {
            value: 'controls',
            text: 'اعدادات'
          },
        ],
        loading: false
      }
    }
  },


  computed: {
    ...mapState('social', ['records', 'filters', 'totalPages']
    )
  },


  watch: {
    '$route': {
      async handler(route) {
        if (!route.query.page) {
          await this.$router.replace({ query: { ...route.query, page: 1 } });
          return;
        }

        this.SET_FILTERS({ ...route.query });
        this.fetchRecords();
      },
      deep: true,
      immediate: true,
    }
  },


  methods: {
    ...mapMutations(
      'social',
      [
        'SHOW_RECORD_FORM',
        'SET_EDIT_MODE',
        'SET_RECORD_FORM',
        'SET_FILTERS'
      ]
    ),

    fetchRecords() {
      this.table.loading = true;

      this.$store.dispatch('social/fetchRecords')
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء جلب البيانات',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },

    async remove(selectedRecord) {
      const confirmMessageParams = [
        `حذف الاعدادات رقم ${selectedRecord.id}!`,
        `هل أنت متأكد من حذف الاعدادات '${selectedRecord.name}'؟`,
        { color: 'error' }
      ];
      if (!await this.$root.$confirm(...confirmMessageParams)) return;

      this.table.loading = true;

      this.$store.dispatch('social/delete', { recordId: selectedRecord.id })
        .then(() => {
          this.$bus.$emit('showSnackbar', {
            text: 'تم حذف الاعدادات بنجاح',
            color: 'success'
          });
        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء حذف الاعدادات',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });;
    }
  }
}
</script>
