<template>
  <v-btn
    text
    icon
    x-large
    color="secondary darken-1"
    @click="$router.go(-1)"
    class="float-left"
    title="عودة"
  >
    <v-icon>mdi-chevron-left</v-icon>
  </v-btn>
</template>