<template>
  <v-navigation-drawer :value="drawer" app clipped dark right>
    <v-list>
      <span v-for="navItem in navList" :key="navItem.text">
        <!-- NAV-ITEM HAS SUB-ITEMS -->
        <v-list-group
          v-if="navItem.subItems"
          no-action
          active-class="white--text"
        >
          <template #prependIcon>
            <v-icon>{{ navItem.icon }}</v-icon>
          </template>

          <template #activator>
            <v-list-item-content>
              <v-list-item-title>{{ navItem.text }}</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item
            link
            dense
            ripple
            class="pr-5"
            active-class="white--text"
            :to="subItem.link"
            :key="subItem.title"
            v-for="subItem in navItem.subItems"
          >
            <v-list-item-action class="ml-2">
              <v-icon color="secondary lighten-3">mdi-subdirectory-arrow-left</v-icon>
            </v-list-item-action>
            
            <v-list-item-content>
              <v-list-item-title>{{ subItem.text }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>

        <!-- SINGLE NAV-ITEM -->
        <v-list-item v-else link :to="navItem.link">
          <v-list-item-action>
            <v-icon>{{ navItem.icon }}</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ navItem.text }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </span>
    </v-list>
  </v-navigation-drawer>
</template>


<script>
export default {
  name: 'side-bar',
  props: ['drawer'],


  data: function () {
    return {
      navList: [
       {
          link: '/home',
          icon: 'mdi-monitor-dashboard',
          text: 'الرئيسية',
        },
        {
          link: '/categories',
          icon: 'mdi-sitemap',
          text: ' التصنيفات الرئيسية',
        },
       
        {
          link: '/users',
          icon: 'mdi-account',
          text: ' المستخدمين',
        },
        {
          link: '/orders',
          icon: 'mdi-cart',
          text: '  الطلبات',
        },
       {
          link: '/products',
          icon: 'mdi-cable-data',
          text: 'المنتجات'
        },
        {
          link: '/sliders',
          icon: 'mdi-cable-data',
          text: 'البانر الاعلانى'
        },
         {
          link: '/admins',
          icon: 'mdi-tie',
          text: 'المشرفين'
        },
        {
          link: '/notifications',
          icon: 'mdi-bell',
          text: 'الاشـعارات',
        },
        {
          link: '/contact-us',
          icon: 'mdi-forum',
          text: 'الشكاوي',
        },
       
        {
          link: '/social',
          icon: 'mdi-facebook',
          text: 'مواقع التواصل',
        },
        {
          link: '/admin/pages/usage-policy',
          icon: 'mdi-cellphone-cog',
          text: '  محتوي التطبيق',
        }
        
      ]
    }
  }
}
</script>