<template>
  <v-dialog
    :value="showRecordForm"
    @input="(v) => v || HIDE_RECORD_FORM()"
    max-width="600px"
    scrollable
  >
    <v-card>
      <!-- TITLE -->
      <v-card-title class="primary">
        <span class="headline">{{
          editMode ? "تعديل اعلان" : "اضافة اعلان"
        }}</span>
      </v-card-title>

      <!-- INPUTS -->
      <v-card-text class="pt-5 pb-0">
        <v-container>
          <v-progress-linear
            v-if="formLoading"
            color="primary"
            indeterminate
            rounded
            height="6"
          ></v-progress-linear>
          <div v-else>
            
            
           
            <v-file-input
              dense
              outlined
              label="صورة البانر الاعلانى"
              prepend-icon="mdi-image"
              accept="image/*"
              v-model="form.image"
              :error-messages="errors.image"
            ></v-file-input>
          </div>
        </v-container>
      </v-card-text>

      <!-- ACTIONS -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          dark
          color="primary"
          elevation="1"
          :loading="formLoading"
          @click="editMode ? update(form) : create(form)"
          >حفظ</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapState, mapMutations } from "vuex";
export default {
  name: "record-form",

  data: function() {
    return {
      form: {},
      errors: {},
      formLoading: false,
      itemsName: [],
      itemsList: [],
    };
  },
  

  computed: {
    ...mapState("sliders", {
      editMode: (state) => state.editMode,
      showRecordForm: (state) => state.showRecordForm,
      recordForm: (state) => {
        return {
        //   item_id: state.recordForm.item_id,
        //   name_en: state.recordForm.name_en,
        //   name_ar: state.recordForm.name_ar,
        //   image_en: state.recordForm.image_en,
        //   image_ar: state.recordForm.image_ar,

          image: state.recordForm.image,
        };
      },
    }),
  },

  watch: {
    recordForm(form) {
      this.form = form;
    },
  },

  methods: {
    ...mapMutations("sliders", ["HIDE_RECORD_FORM"]),

    create(form) {
      this.formLoading = true;

      this.$store
        .dispatch("sliders/create", { form })
        .then((response) => {
          this.$bus.$emit("showSnackbar", {
            text: "تم إضافة الاعلان بنجاح",
            color: "success",
          });

          this.$emit("update");
          this.HIDE_RECORD_FORM();
        })
        .catch((error) => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors;
          }
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء إضافة الاعلان",
            color: "red darken-3",
          });
        })
        .finally(() => {
          this.formLoading = false;
        });
    },

    // update(form) {
    //   this.formLoading = true;

    //   this.$store.dispatch('sliders/update', { form })
    //     .then(() => {
    //       this.$bus.$emit('showSnackbar', {
    //         text: 'تم تعديل البيانات بنجاح',
    //         color: 'success'
    //       });

    //       this.$emit('update');
    //       this.HIDE_RECORD_FORM();
    //     })
    //     .catch((error) => {
    //       if (error.response.status === 422) {
    //         this.errors = error.response.data.errors;
    //       }
    //       this.$bus.$emit('showSnackbar', {
    //         text: 'خطأ أثناء تعديل البيانات',
    //         color: 'red darken-3'
    //       });
    //     })
    //     .finally(() => {
    //       this.formLoading = false;
    //     });
    // }
  },
};
</script>
