<template>
  <v-alert
    v-if="messages.length > 0"
    text
    type="info"
    color="lime darken-4"
    class="mt-7"
  >
    يوجد رسائل تواصل غير مقروءة
    ... <router-link class="dark--text" to="/contact-us">صفحة المحادثات</router-link>
  </v-alert>
</template>


<script>
export default {
  name: "contact-us-alert",


  data: function () {
    return {
      messages: []
    };
  },


  created() {
    this.axios.get('/admin/contact-us', { params: { status: 'unseen', limit: 1 } })
      .then((response) => { this.messages = response.data.data; })
      .catch((error) => { console.log(error, error.response); });
  }
};
</script>