<template>
  <v-row>
    <v-col cols="12" sm="6">
      <div class="px-3 py-10 text-center white--text blue-grey darken-2 rounded">
        <span class="d-block title mb-2">المستخدمين</span>
        <v-progress-circular v-if="loading" indeterminate color="white" />
        <strong v-else class="title">{{ statistics.users }}</strong>
      </div>
    </v-col>

    <v-col cols="12" sm="6">
      <div class="px-3 py-10 text-center white--text teal darken-2 rounded">
        <span class="d-block title mb-2">الطلبات</span>
        <v-progress-circular v-if="loading" indeterminate color="white" />
        <strong v-else class="title">{{ statistics.order }}</strong>
      </div>
    </v-col>

    <v-col cols="12" sm="4">
      <div class="px-3 py-10 text-center white--text green darken-3 rounded">
        <span class="d-block title mb-2">المنتجات</span>
        <v-progress-circular v-if="loading" indeterminate color="white" />
        <strong v-else class="title">{{ statistics.products }}</strong>
      </div>
    </v-col>

    <v-col cols="12" sm="4">
      <div class="px-3 py-10 text-center white--text deep-orange rounded">
        <span class="d-block title mb-2">الأصناف</span>
        <v-progress-circular v-if="loading" indeterminate color="white" />
        <strong v-else class="title">{{ statistics.categories }}</strong>
      </div>
    </v-col>

    <v-col cols="12" sm="4">
      <div class="px-3 py-10 text-center white--text light-blue darken-2 rounded">
        <span class="d-block title mb-2">الأصناف الفرعية</span>
        <v-progress-circular v-if="loading" indeterminate color="white" />
        <strong v-else class="title">{{ statistics.subcategories }}</strong>
      </div>
    </v-col>
  </v-row>
</template>


<script>
export default {
  name: 'numeric-statistics',
  
  data: function () {
    return {
      statistics: {},
      loading: true
    }
  },


  created() {
    this.fetchNumericStatistics();
  },


  methods: {
    fetchNumericStatistics() {
      this.loading = true;

      this.axios.get('/admin/count')
        .then((response) => {
          this.statistics = response.data;
        })
        .catch((error) => {
          console.log(error, error.response);
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء جلب الإحصائيات الرقمية',
            color: 'accent'
          });
        })
        .finally(() => {
          this.loading = false;
        });
    }
  }
}
</script>