<template>
  <table class="table-info white">
    <!-- ID -->
    <tr>
      <td>
        <strong class="accent--text">رقم المنتج</strong>
      </td>
      <td>{{ product.id }}</td>
    </tr>

    <!-- NAME -->
    <tr>
      <td>
        <strong class="accent--text">اسم المنتج</strong>
      </td>
      <td>{{ product.name_ar }}</td>
    </tr>
    <tr>

<td>
        <strong class="accent--text">Product name</strong>
      </td>
      <td>{{ product.name_en }}</td>
    </tr>

      <tr>

<td>
        <strong class="accent--text">السعر</strong>
      </td>
      <td>{{ product.price }}</td>
    </tr>


      <tr>
      <td>
        <strong class="accent--text">النوع</strong>
      </td>
      <td>{{ product.type_ar }}</td>
    </tr>
  <tr>
      <td>
        <strong class="accent--text">Type</strong>
      </td>
      <td>{{ product.type_en }}</td>
    </tr>
      <tr>
      <td>
        <strong class="accent--text">العلامة التجارية</strong>
      </td>
      <td>{{ product.trademark_ar }}</td>
    </tr>
 <tr>
      <td>
        <strong class="accent--text">Trademark</strong>
      </td>
      <td>{{ product.trademark_en }}</td>
    </tr>

    <!-- <tr>
      <td>
        <strong class="accent--text">Product Name</strong>
      </td>
      <td><span dir="ltr">{{ product.name_en }}</span></td>
    </tr> -->

  
    <!-- DESCRIPTION -->
    <tr>
      <td>
        <strong class="accent--text">الوصف</strong>
      </td>
      <td>{{ product.description_ar }}</td>
    </tr> 
    <tr>
      <td>
        <strong class="accent--text">description</strong>
      </td>
      <td><span dir="ltr">{{ product.description_en }}</span></td>
    </tr>

    <!-- CATEGORY -->
    <tr>
      <td>
        <strong class="accent--text">التصنيف</strong>
      </td>
      <td>
        <v-chip
          class="mx-1"
          color="primary"
          small
        >{{ product.sub_category && product.sub_category.name_ar }}</v-chip>
      </td>
    </tr>

    <!-- CREATED AT -->
    <tr>
      <td>
        <strong class="accent--text">تاريخ الإضافة</strong>
      </td>
      <td>{{ (new Date(product.created_at)).toLocaleString('ar') }}</td>
    </tr>
  </table>
</template>


<script>
export default {
  name: 'product-basic-info',
  props: ['product']
}
</script>