<template>
  <div class="single-page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-cart</v-icon>
      إدارة المنتجات
      <v-icon class="mx-2">mdi-arrow-left</v-icon>
      {{ product.id }}
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />

    <!-- UPDATE DIALOG -->
    <record-form @update="fetchProduct()" />

    <!-- ADD PRICE FROM -->
    <price-form @update="fetchProduct()" />


    <v-row v-if="product.id">
      <!-- RIGHT SIDE -->
      <v-col cols="12" sm="8">
        <basic-info :product="product" />
        <manage-prices :product="product" @update="fetchProduct()" />
      </v-col>

      <!-- LEFT SIDE -->
      <v-col cols="12" sm="4" class="mt-sm-0 mt-9">
        <manage-media :product="product" @update="fetchProduct()" />

        <hr class="my-4 header-divider" />

        <!-- UPDATE & DELETE -->
        <v-row no-gutters class="justify-center">
          <v-btn
            outlined
            color="secondary"
            class="ma-1"
            @click="SET_FORM_RECORD(product); SET_EDIT_MODE(true); SHOW_FORM()"
          >
            تعديل <v-icon>mdi-circle-edit-outline</v-icon>
          </v-btn>
          <v-btn outlined color="error" class="ma-1" @click="remove(product)">
            حذف <v-icon>mdi-delete</v-icon>
          </v-btn>
        </v-row>
      </v-col>
    </v-row>

    <!-- NO PRODUCT -->
    <div v-else>
      <p class="text-center my-4 primary--text">
        المنتج غير موجود
        <strong>
          <router-link class="accent--text" to="/products">عرض المنتجات</router-link>
        </strong>
      </p>
    </div>
  </div>
</template>


<script>
import { mapMutations } from 'vuex';
import BasicInfo from './BasicInfo';
import RecordForm from '../RecordForm';
import ManageMedia from './ManageMedia';
import ManagePrices from './ManagePrices';

export default {
  name: "single-product",
  components: {
    RecordForm, BasicInfo, ManageMedia, ManagePrices
  },


  data: function() {
    return {
      product: {}
    };
  },


  created() {
    this.fetchProduct();
  },


  methods: {
    ...mapMutations(
      'products',
      [
        'SHOW_FORM',
        'SET_EDIT_MODE',
        'SET_FORM_RECORD'
      ]
    ),

    fetchProduct() {
      const productId = this.$route.params.id;

      this.axios.get(`/admin/products/${productId}`)
        .then(response => {
          this.product = response.data;
        })
        .catch(error => {
          console.log(error, error.response);
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء جلب المنتج",
            color: "accent"
          });
        });
    },

    async remove(selectedRecord) {
      const confirmMessageParams = [
        `حذف المنتج رقم ${selectedRecord.id}!`,
        `هل أنت متأكد من حذف المنتج '${selectedRecord.name_ar}'؟`,
        { color: 'error' }
      ];
      if (!await this.$root.$confirm(...confirmMessageParams)) return;

      this.$store.dispatch('products/delete', { recordId: selectedRecord.id })
        .then(() => {
          this.$bus.$emit('showSnackbar', {
            text: 'تم حذف المنتج بنجاح',
            color: 'success'
          });

          this.$router.push('/products');
        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء حذف المنتج',
            color: 'accent'
          });
        });
    }
  }
};
</script>
