<template>
  <div>
    <h3 class="grey--text text--darken-2 mt-12 mb-0">أسعار المنتج</h3>

    <div class="mb-3 mt-2 text-left">
      <v-btn
        outlined
        color="accent"
        elevation="0"
        class="mx-3"
        @click="SET_MODE('create'); SET_CUURENT_PRODUCT(product); SHOW_FORM()"
      >
        إضافة أسعار
        <v-icon class="mr-2">mdi-plus</v-icon>
      </v-btn>

      <v-btn
        outlined
        color="error"
        elevation="0"
        @click="SET_MODE('delete'); SET_CUURENT_PRODUCT(product); SHOW_FORM()"
      >
        حذف أسعار
        <v-icon class="mr-2">mdi-delete</v-icon>
      </v-btn>
    </div>

    <v-alert
      text
      color="warning"
      class="mt-7"
      outlined
      v-if="product.prices.length == 0"
    >لا يوجد أسعار للمنتج حتي الان</v-alert>

    <div v-else>

      <div class="pt-6 px-6 mb-7 white">
        <!-- CITY -->
        <v-select
          dense
          outlined
          clearable
          label="المدينة"
          prepend-icon="mdi-map"
          persistent-hint
          item-text="name_ar"
          item-value="id"
          v-model="city_id"
          :items="citiesRecords"
          :loading="citiesLoading"
        ></v-select>
      </div>

      <v-card 
        :key="priceObj.id"
        v-for="priceObj in product.prices"
        v-show="priceObj.city_id == city_id"
        class="mb-5"
      >
        <v-card-text class="d-flex align-center pa-5 pb-0 white">
          <img :src="priceObj.store && priceObj.store.image" width="50px" class="mt-2 mb-1 rounded" />
          <h4 class="mx-6">{{ priceObj.store && priceObj.store.name_ar }}</h4>
        </v-card-text>

        <v-card-text>
          <table class="table-info w-100">
            <tr>
              <td>السعر</td>
              <td>{{ (priceObj.price / 100).toFixed(2) }}</td>
            </tr>
            <tr>
              <td>السعر بعد الخصم</td>
              <td>
                {{ ((priceObj.upcomming_total ? priceObj.upcomming_total : priceObj.total) / 100).toFixed(2) }}

                <v-chip class="ma-2" dense small outlined color="cyan darken-3" v-if="priceObj.upcomming_total">
                    يبدأ في:
                    {{ (new Date(priceObj.offer_started_date)).toLocaleString('ar') }}
                </v-chip>

                <v-chip class="ma-2" dense small outlined color="info" v-if="priceObj.offer_expired_date">
                  ينتهي:
                  {{ (new Date(priceObj.offer_expired_date)).toLocaleDateString('ar') }}
                </v-chip>
              </td>
            </tr>
            <tr v-if="priceObj.special_offer_ar">
              <td colspan="2">
                {{ priceObj.special_offer_ar }}
                <v-chip class="ma-2" dense small outlined color="cyan darken-3" v-if="priceObj.upcomming_special_offer">
                  يبدأ في
                  {{ (new Date(priceObj.special_offer_started_date)).toLocaleString('ar') }}
                </v-chip>

                <v-chip dense small outlined color="info" v-if="priceObj.special_offer_expired_date">
                  ينتهي في
                  {{ (new Date(priceObj.special_offer_expired_date)).toLocaleDateString('ar') }}
                </v-chip>
              </td>
            </tr>
            <tr v-if="priceObj.special_offer_en">
              <td colspan="2">
                {{ priceObj.special_offer_en }}
              </td>
            </tr>
          </table>
        </v-card-text>
      </v-card>
    </div>

  </div>
</template>


<script>
import { mapState, mapMutations } from "vuex";

export default {
  name: 'manage-product-prices',
  props: ['product'],


  data: function () {
    return {
      city_id: null,
      citiesLoading: true
    };
  },


  created() {
    this.$store.dispatch('cities/fetchRecords', { limit: 100 })
      .then(() => {
        if (this.citiesRecords.length > 0) {
          this.city_id = this.citiesRecords[0].id;
        }
      })
      .finally(() => {
        this.citiesLoading = false
      });
  },


  computed: {
    ...mapState('cities', { citiesRecords: (state) => state.records }),
  },


  methods: {
    ...mapMutations(
      'productsPrices', ['SET_MODE', 'SHOW_FORM', 'SET_CUURENT_PRODUCT']
    )
  }
}
</script>