<template>
  <div>
    <!-- SHOW & REMOVE MEDIA -->
    <v-card class="text-center pa-4 mb-7" v-for="image in product.media" :key="image.id">
      <v-card-text>
        <v-chip class="mb-3" outlined color="success darken-3" v-if="image.caption">الصورة الرئيسية</v-chip>
        <img width="100%" :src="image.image" style="border: 2px solid #eee" />

        <v-btn small color="error" elevation="0" @click="deattachImage(image.id)">حذف الصورة</v-btn>
      </v-card-text>
    </v-card>

    <!-- ADD MEDIA -->
    <v-row class="white mx-0 pt-3 px-2">
      <v-col cols="12" class="pb-0">
        <v-file-input
          v-model="form.image"
          hide-details
          label="اضافة صورة"
          outlined
          dense
        ></v-file-input>
      </v-col>

      <v-col class="pt-3">
        <div class="d-flex align-center">
          <v-switch
            v-model="form.caption"
            false-value="0"
            true-value="1"
            inset
            label="صورة رئيسية"
            color="success darken-3"
          ></v-switch>

          <v-spacer></v-spacer>
          <v-btn color="success" @click="attachImage(form)">إضافة</v-btn>
        </div>
      </v-col>
    </v-row>
  </div>
</template>


<script>
export default {
  name: "manage-product-media",
  props: ["product"],


  data: function () {
    return {
      form: {}
    }
  },


  methods: {

    attachImage(form) {
      const productId = this.$route.params.id;

      const payload = new FormData;
      for (const key in form) {
        if (form.hasOwnProperty(key)) {
          payload.append(key, form[key]);
        }
      }
    
      this.axios.post(`/admin/products/${productId}/attach-image`, payload)
        .then(response => {
          this.$bus.$emit("showSnackbar", {
            text: "تم إضافة الصورة بنجاح",
            color: "success"
          });

          this.$emit('update');
        })
        .catch(error => {
          console.log(error, error.response);
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء إضافة الصورة",
            color: "accent"
          });
        });
    },

    async deattachImage(imageId) {
      const confirmMessageParams = [
        `حذف الصورة رقم ${imageId}!`,
        `هل أنت متأكد من حذف الصورة'؟`,
        { color: 'error' }
      ];
      if (!await this.$root.$confirm(...confirmMessageParams)) return;

      this.axios.delete(`/admin/products/deattach-image/${imageId}`)
        .then(response => {
          this.$bus.$emit("showSnackbar", {
            text: "تم حذف الصورة بنجاح",
            color: "success"
          });

          this.$emit('update');
        })
        .catch(error => {
          console.log(error, error.response);
          this.$bus.$emit("showSnackbar", {
            text: "خطأ أثناء حذف الصورة",
            color: "accent"
          });
        });
    }
  }
};
</script>