<template>
  <div class="page">
    <h2 class="accent--text">
      <v-icon color="primary" class="ml-3" large>mdi-account</v-icon>
      إدارة المستخدمين
      <back-button />
    </h2>
    <hr class="my-5 header-divider" />
    <!-- <v-col
          cols="12"
          sm="6"
          md="4"
        >
  <v-select
  v-model="selectedUser"
  :items="items"
  item-text="userRole"
  label="عرض المستخدمين"
  persistent-hint
  return-object
  single-line
  @change="directToUser(items.userRole)"
>
  <v-icon
      slot="append"   
       >
      mdi-account
    </v-icon>
</v-select>
    </v-col> -->
    <!-- CREATE / UPDATE FROM -->
    <!-- <record-form @update="fetchRecords()" /> -->

    <!-- NEW RECORD -->
    <!-- <div class="mb-3 mt-9 text-left">
      <v-btn
        color="primary"
        elevation="0"
        @click="SET_RECORD_FORM({}); SET_EDIT_MODE(false); SHOW_RECORD_FORM()"
      >
        إضافة تصنيف
        <v-icon class="mr-2">mdi-plus</v-icon>
      </v-btn>
    </div> -->

    <!-- TABLE -->
    <v-data-table
      item-key="id"
      class="elevation-1"
      :loading="table.loading"
      :headers="table.headers"
      :items="records"
      loading-text="جاري تحميل البيانات"
      no-data-text="لا يوجد بيانات"
      disable-filtering
      disable-pagination
      disable-sort
      hide-default-footer
    >
      <template v-slot:item.image="{ item }">
        <img
          :src="item.image"
          width="50px"
          class="mt-3 mb-2 rounded-lg"
        >
      </template>
      <!-- CREATED AT -->
      <!-- <template v-slot:item.created_at="{ item }">
        {{ (new Date(item.created_at)).toLocaleDateString('ar') }}
      </template> -->
      <!-- CONTROLS -->
     

        <template v-slot:item.blocked="{ item }">
        <v-switch
         v-if="item.blocked == 1"
        inset
        :input-value="false"
        @change="unblock(item)"
    ></v-switch>
    <v-switch
        v-else="item.blocked == 0"
        color="success"
        inset
        :input-value="true"
        @change="block(item)"
    ></v-switch>
       
       
      </template>
    </v-data-table>

    <!-- PAGINATION -->
    <div class="text-center mt-7">
      <v-pagination
        total-visible="7"
        circle
        :value="parseInt(filters.page)"
        :length="totalPages"
        @input="$router.replace({ query: { ...$route.query, page: $event } })"
      ></v-pagination>
    </div>
  </div>
</template>


<script>
import RecordForm from './RecordForm';
import { mapState, mapMutations } from 'vuex';

export default {
  name: 'users',
  components: { RecordForm },

  data: function () {
    return {
        
    
      table: {
        headers: [
          {
            value: 'id',
            text: 'التسلسل'
          },
          {
            value: 'name',
            text: 'الاسم'
          },
            {
            value: "phone",
            text: "رقم الهاتف",
          },
          {
            value: "address",
            text: "العنوان",
          },
           {
            value: 'image',
            text: 'الصورة'
          },

          {
            value: 'blocked',
            text: 'الحظر'
          },
        
        ],
        loading: false
      }
    }
  },


  computed: {
    ...mapState('users', ['records', 'filters', 'totalPages']
    ),
    
  },


  watch: {
    '$route': {
      async handler(route) {
        if (!route.query.page) {
          await this.$router.replace({ query: { ...route.query, page: 1 } });
          return;
        }

        this.SET_FILTERS({ ...route.query });
        this.fetchRecords();
      },
      deep: true,
      immediate: true,
    }
  },


  methods: {
   

    
    ...mapMutations(
      'users',
      [
        'SHOW_RECORD_FORM',
        'SET_EDIT_MODE',
        'SET_RECORD_FORM',
        'SET_FILTERS'
      ]
    ),
       

 
    fetchRecords() {
      this.table.loading = true;

      this.$store.dispatch('users/fetchRecords')
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء جلب البيانات',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });
    },



    async unblock(selectedRecord){
      this.table.loading = true;

      this.$store.dispatch('users/unblock', { record: selectedRecord })
        .then(() => {

          this.$bus.$emit('showSnackbar', {
            text: `تم فك حظر المستخدم ${selectedRecord.name}`,
            color: 'success'
          });
          this.fetchRecords();
        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء فك حظر المستخدم',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });;
    },
  async block(selectedRecord){
       
      this.table.loading = true;

      this.$store.dispatch('users/block', { record: selectedRecord })
        .then(() => {
          this.$bus.$emit('showSnackbar', {
            text: `تم حظر المستخدم ${selectedRecord.name}`,
            color: 'warning'
          });
          this.fetchRecords();

        })
        .catch((error) => {
          this.$bus.$emit('showSnackbar', {
            text: 'خطأ أثناء حظر المستخدم',
            color: 'red darken-3'
          });
        })
        .finally(() => {
          this.table.loading = false;
        });;
    }
  },
  
  }


  

</script>
